/****************** FORMS ************************/
/****************** Wrapper ************************/
.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.label {
  font-weight: bold;
}

/****************** Input ************************/
 input {
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
  font-size:medium;
  background-color: white;
}

/* ****************** Select *********************/
select {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  font-size:medium;
}

/**************** Error control ****************/
p[data-error] {
  font-size: 0.8em;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.587);
}

.input-wrapper[data-error]::after {
  content: attr(data-error);
  font-size: 0.8em;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.587);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  transition: 0.3s;
}
input[data-error-visible='true']::after {
  opacity: 1;
  margin-bottom: 5px;
}

input[data-error-visible='true'] {
  border: 2px solid rgb(255, 0, 0);
  border-radius: 3px;
}